<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
          <title>UBook | Register</title>
          {%load static%}

          <link rel="icon" href="/static/resources/uoft_crest.png">
          <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="{% static '/styles/index.css' %}">
          <style>
              body {
                  background-image: url({% static '/resources/login_background.png' %});
              }
          </style>
    </head>

    <body>

      <!--- UofT Crest at top of page. --->
      <div id="image-container">
        <img id="crest" src="/static/resources/uoft_crest.png">
      </div>

      <!--- First part of title. --->
      <div id="title-container-left" class="title-container">
        <span class="grey title-text">U</span>
      </div>

      <!--- Last part of title. --->
      <div id="title-container-right" class="title-container">
        <span class="blue title-text">Book</span>
      </div>

      <!--- Register subtitle. --->
      <div id="subtitle-container-left">
        <span class="grey subtitle-text subtitle-text-left">register</span>
      </div>

      <!--- Register page text boxes and buttons. --->
      <div id="subtitle-container-right">
       <span class="blue subtitle-text subtitle-text-right">
         {% if message %}
             <p><strong>{{ message }}</strong></p>
         {% endif %}

         <form method="post" action="/register/">
             {% csrf_token %}

             <div>
                 <label>username: </label>
                 <input type="text" name="username" autofocus required>
             </div>
             <div>
                 <label>email: </label>
                 <input type="text" name="email" autofocus required>
             </div>
             <div>
                 <label>phone number: </label>
                 <input type="text" name="phone" autofocus required>
             </div>
             <div>
                 <label>password: </label>
                 <input type="password" name="password" autofocus required>
             </div>
             <div>
                 <label>confirm password: </label>
                 <input type="password" name="password2" autofocus required>
             </div>
             <div id="button-container-right">
               <a href="/register/">
                   <button id="signup" class="button button-right blue">register</button>
               </a>
             </div>
         </form>
       </span>
      </div>

    </body>
</html>
