<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
          <title>UBook | Register</title>
          {%load static%}

          <link rel="icon" href="/static/resources/uoft_crest.png">
          <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="{% static '/styles/index.css' %}">
          <style>
              body {
                  background-image: url({% static '/resources/login_background.png' %});
              }
          </style>
    </head>

    <body>

      <div id="image-container">
        <img id="crest" src="/static/resources/uoft_crest.png">
      </div>

        <h1>UBook | Register</h1>

        {% if message %}
            <p><strong>{{ message }}</strong></p>
        {% endif %}

        <form method="post" action="/register/">
            {% csrf_token %}

            <div>
                <label>Username: </label>
                <input type="text" name="username" autofocus required>
            </div>
            <div>
                <label>Email: </label>
                <input type="text" name="email" autofocus required>
            </div>
            <div>
                <label>Password: </label>
                <input type="password" name="password" autofocus required>
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
        </form>

    </body>
</html>
