/* Styling for the action buttons on each posting */
.listing-action {
    display: block;
    margin: 5px auto;
    width: 70%;
}
.mark-sold-listing {
    background-color: #37992d;
}
.mark-sold-listing:hover {
    background-color: #1a6812;
}
.edit-listing {
    background-color: #bac128;
}
.edit-listing:hover {
    background-color: #959b0f;
}
.remove-listing {
    background-color: #c43333;
}
.remove-listing:hover {
    background-color: #962222;
}
/* the actual content of the modal */
.modal-content {
    background: white;
    border: 1px solid grey;
    border-radius: 25px;
    margin: 5% auto;
    padding: 20px;
    padding-top: 0;
    width: 50%;
    font-size: 20px;
}

.bundleinfo{
    display: block;

}
.edit{
  height: 10vh;
    vertical-align: center;
    display: table; /* so elements can be aligned vertically */
    width: 100%;
    border-spacing: 10px;
    border-bottom: 0;
    font-size: 20px;  
}
.title{
    height: 10vh;
    vertical-align: center;
    display: table; /* so elements can be aligned vertically */
    width: 100%;
    border-spacing: 10px;
    border-bottom: 0;
    font-size: 20px;
}

.author{
    height: 10vh;
    vertical-align: center;
    display: table; /* so elements can be aligned vertically */
    width: 100%;
    border-spacing: 10px;
    border-bottom: 0;
    font-size: 20px;
}
.course{
    height: 10vh;
    vertical-align: center;
    display: table; /* so elements can be aligned vertically */
    width: 100%;
    border-spacing: 10px;
    border-bottom: 0;
    font-size: 20px;
}
.condition{
    height: 10vh;
    vertical-align: center;
    display: table; /* so elements can be aligned vertically */
    width: 100%;
    border-spacing: 10px;
    border-bottom: 0;
    font-size: 20px;
}
.image{
    height: 10vh;
    vertical-align: center;
    display: table; /* so elements can be aligned vertically */
    width: 100%;
    border-spacing: 10px;
    border-bottom: 0;
    font-size: 20px;
}
.description{
    height: 10vh;
    vertical-align: center;
    display: table; /* so elements can be aligned vertically */
    width: 100%;
    border-spacing: 10px;
    border-bottom: 0;
    font-size: 20px;
}
.price{
    height: 10vh;
    vertical-align: center;
    display: table; /* so elements can be aligned vertically */
    width: 100%;
    border-spacing: 10px;
    border-bottom: 0;
    font-size: 20px;
}
.input{
    display: block;
}

.submit{
    height: 10vh;
    vertical-align: center;
    display: table; /* so elements can be aligned vertically */
    width: 100%;
    border-spacing: 10px;
    border-bottom: 0;
    font-size: 20px;
}

