/* Styling for the action buttons on each posting */
.posting-action {
    display: block;
    margin: 5px auto;
    width: 70%;
}
.mark-sold-posting {
    background-color: #37992d;
}
.mark-sold-posting:hover {
    background-color: #1a6812;
}
.edit-posting {
    background-color: #bac128;
}
.edit-posting:hover {
    background-color: #959b0f;
}
.remove-posting {
    background-color: #c43333;
}
.remove-posting:hover {
    background-color: #962222;
}
