html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    background-image: url(../resources/login_background.png);
    background-size:100% auto;
}

#crest {
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title-container-left {
    text-align: right;
    margin-top: 100px;
    width: 50%;
    float: left;
}

#title-container-right {
    text-align: left;
    margin-top: 100px;
    width: 50%;
    float: right;
}

#subtitle-container-left {
    text-align: right;
    width: 50%;
    float: left;
}

#subtitle-container-right {
    text-align: left;
    width: 50%;
    float: right;
}

#button-container-left {
    text-align: right;
    margin-top: 30px;
    width: 50%;
    float: left;
}

#button-container-right {
    margin-top: 30px;
    width: 50%;
    float: right;
}

.blue {
    color: #002a5c;
}

.grey {
    color: #E5E5E5;
}

.title-text {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 3px;
}

.subtitle-text {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}

.subtitle-text-left {
    padding-right: 5px;
}

.subtitle-text-right {
    padding-left: 5px;
}

.button-left {
    background-color: #002a5c;
    margin-right: 20px;
}

.button-right {
    background-color: #E5E5E5;
    margin-left: 20px;
}

.button {
    font-family: inherit;
    font-size: 20px;
    border: none;
    outline: none;
}

.button:hover {
    text-decoration: underline;
}

.error {
    color: #D8000C;
}
