body {
    font-family: 'Chakra Petch', sans-serif;
}
.bold {
    font-weight: bold;
}
/* style for all buttons */
.button {
    border: none;
    color: #e5e5e5;
    background-color: #204B7F;
    outline: none;
    border-radius: 12px;
}
.button:hover {
    background-color: #002a5c;
}
/* positioning for the search bar container */
#search-container {
    position: relative;
    top: 100px;
    width: 50%;
    left: 14%;
}
/* positioning for the advanced search criteria container */
#criteria-container {
    position: relative;
    top: 100px;
    width: 20%;
    left: 12%;
    text-align: center;
    font-size: 20px;
}
/* positioning for the search results container */
#results-container {
    position: absolute;
    padding-left: 10px;
    top: 160px;
    left: 34%;
    width: 50%;
    height: 80%;
    overflow: auto;
}
/* what each "main" container on the page (see above) should look like */
.big-container {
    float: left;
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
}
/* positioning of the search bar */
#search-bar-container {
    height: 40px;
    width: 80%;
    float: left;
    overflow: hidden; /* so placeholder text doesn't spill out on window resize */
}
/* sizing and positioning of the search icon in the search bar */
#search-icon {
    padding-top: 5px;
    height: 30px;
    width: 30px;
}
#search-icon-container {
    margin-left: 5px;
    float: left;
}

#search-bar {
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    padding: 0;
    margin-left: 1%;
    font-size: 20px;
}

#sort-container {
    text-align: right;
}
/* headers for main containers on the page */
.top-bar {
    margin: 8px;
    padding: 4px;
    border-bottom: 1px solid grey;
}
/* the containers for each individual criterion within the criteria box */
.criterion-container {
    text-align: left;
    padding-left: 25px;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid grey;
}
.criterion-container h4 {
    margin:0;
    margin-bottom: 5px;
}

#price-form input {
    outline: none;
    width: 30%;
}

#course-form input {
    outline: none;
    width: 73%;
}

#condition-slider {
    -webkit-appearance: none;
    opacity: 0.8;
    width: 73%;
    height: 15px;
    border-radius: 25px;
    background: #d3d3d3;
    outline: none;
    margin-bottom: 10px;
}
#condition-slider:hover {
    opacity: 1;
}
#condition-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #002a5c;
    cursor: pointer;
}
#condition-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #002a5c;
    cursor: pointer;
}

#condition-container {
    border: none;
}
#condition-container span {
    display: inline-block;
}

#results {
    height: 100%;
    width: 100%;
}
/* the container for a search result */
.result-container {
    width: 99%;
    height: 150px;
    border: 1px solid #ccc;
}
/* the container for the image within a search result */
.image-container {
    float: left;
    width: 15%;
    height: 100%;
}
/* the image of a textbook itself */
.image-container img {
    display: block;
    padding-top: 15px;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    top: 10px;
    left: 10px;
}

.book-info-container {
    float: left;
    height: 100%;
    width: 70%
}
.book-info-container h5 {
    color: #002a5c;
    margin-top: 15px;
    margin-bottom: 0;
}
.book-info-container span {
    font-size: 15px;
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: bold;
}

.book-description-container {
    float: left;
    height: 50px;
    width: 100%;
}
.book-description-container span {
    margin-top: 2px;
    font-weight: normal;
}
/* container for the price and contact seller button within a posting */
.book-info-right-container {
    float: left;
    height: 100%;
    width: 15%;
    text-align: right;
}

.book-price {
    display: block;
    margin: 15px;
}
/* alignment and sizing of contact seller buttons*/
.contact-seller {
    margin-top: 35px;
    margin-right: 15px;
    height: 40px;
    width: 80px;
}
/* adjusting spacing and size of view-bundle button */
.view-bundle {
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 5px;
    height: 30px;
    width: 180px;
}

/* the backdrop of the modal, which will take up the entire window when the
   modal is displayed */
.modal-backdrop {
    display: none;  /* modals are initially invisibile */
    position: fixed;
    z-index: 1;   /* modal should display on top of all other elements */
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3); /* darken the background slightly */
}
/* the actual content of the modal */
.modal-content {
    background: white;
    border: 1px solid grey;
    border-radius: 25px;
    margin: 5% auto;
    padding: 20px;
    padding-top: 0;
    width: 50%;
    font-size: 20px;
}
/* modal header */
.modal-top-container {
    height: 10vh;
    vertical-align: center;
    display: table; /* so elements can be aligned vertically */
    width: 100%;
    border-spacing: 10px;
    border-bottom: 0;
    font-size: 20px;
}
/* alignment of fields within the modal header, including title and the
   close button (and perhaps more depending on the modal)*/
.modal-top-container span {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    width: 1px;
}
/* close button for modals */
.close {
    display: table-cell;
    color: #aaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#general-search-form {
    height: 100%;
    width: 100%;
}
