<!DOCTYPE html>
<html lang="en">
  <head>
 	  <meta charset="utf-8">
    <title>UBook</title>
    <link rel="icon" href="/static/resources/uoft_crest.png">
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
    {%load static%}

    <link rel="stylesheet" type="text/css" href="/static/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/profile.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/listings.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/inactive_listings.css">

    <script src="/static/js/nav.js"></script>
  </head>
  <body>

      <!-- navbar-->
      <nav id="navbar">
        <a href="/listings/"> <div id="logo">UBook</div> </a>
        <div id="navbar-button-container">
          <div>
            <a class="navbar-button" href="/listings/">find textbooks</a>
          </div>
          <div>
            <a class="navbar-button" href="/new_listing">create a listing</a>
          </div>
          <div id="user-dropdown">
            <a id="user-dropdown-button"class="navbar-button" onclick="dropDown()">{{ user.username }} ▾</a>
            <div id="dropdown-content">
              <a href="/active_listings">my active listings</a>
              <a href="/inactive_listings">my inactive listings</a>
              <a href="/profile">edit profile</a>
              <a href="/logout/">log out</a>
            </div>
          </div>
        </div>
      </nav>
    <!-- navigation menu container -->
    <div id="nav-container" class="big-container">
      <ul>
        <li> <a href="/profile"> Your Profile </a></li>
        <li> <a href="/active_listings"> Your Active Listings </a></li>
        <li> <a href="/inactive_listings"> Your Sold Listings </a></li>
      </ul>
    </div>

    <div id="create-container">
      <a href="/new_listing"> <button id="create-button" class="button"> Create A New Listing </button> </a>
    </div>

    <div id="main-container" class="big-container">
      <div id="title-container">
        Your Sold Listings
      </div>

      <div id="results">
          {% for listing in listings %}
          {% if listing.is_bundle %}

            <div class="result-container bundle">
              <div class="image-container">
                <img src="{{ listing.photo }}">
              </div>
              <div class="book-info-container">
                <h5 class="book-title">{{ listing.title }} </h5>
                <button class="view-bundle button"> View textbooks in bundle </button>
                <div class="book-description-container">
                  <span class="book-description">
                      {{ listing.description }}
                  </span>
                </div>
              </div>
              <div class="book-info-right-container">
                <span class="book-price">${{ listing.price|floatformat:2 }}</span>
                <form action="/inactive_listings/" method="POST">
                   {% csrf_token %}
                   <input type="hidden" value="{{ listing }}" name="listing_to_reactivate">
                   <button class="reactivate-listing button" type="submit" name="reactivate" value="reactivate"> Reactivate </button>
                 </form>
                <form action="/inactive_listings/" method="POST">
                   {% csrf_token %}
                   <input type="hidden" value="{{ listing }}" name="listing_to_remove">
                   <button class="remove-listing button" type="submit" name="remove" value="remove"> Remove </button>
                 </form>
              </div>
            </div>

        <div style="display:none">
                <div class="bundle-backdrop modal-backdrop">
                    <div id="bundle-info" class="modal-content">
                      <!-- header, containing title, price, and close button -->
                      <div class="modal-top-container">
                        <span id="bundle-title" class="bold">{{listing.title}}</span>
                        <span id="bundle-price">${{ listing.price|floatformat:2 }}</span>
                        <span class="bundle-close close">&times;</span>
                      </div>
                      <!-- list of all textbooks within the bundle, in the same format
                           as textbooks in search results, except with no price -->
                      <div id="bundle-results">
                        {% for textbook in listing.textbooks.all %}
                        <div class="result-container">
                          <div class="image-container">
                            <img src="{{textbook.photo}}">
                          </div>
                          <div class="book-info-container">
                            <h5 class="book-title"> {{textbook.name}}</h5>
                            <span class="book-authors"> By {{textbook.authors}}</span>
                            <span class="book-courses"> Courses: {{textbook.courses}} </span>
                            <span class="book-condition"> Condition: {{textbook.condition}} </span>
                            <div class="book-description-container">
                              <span class="book-description">
                                  Description: {{textbook.description}}
                              </span>
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                        <div id="bundle-seller-info-container">
                          <div id=bundle-seller-email-container>
                            <span class="bold"> Email: </span> <span id="bundle-backdrop-email" class="seller-email">{{listing.owner.email}}</span>
                          </div>
                          <div id=bundle-seller-phone-container>
                            <span class="bold"> Phone: </span> <span id="bundle-backdrop-phone" class="seller-phone">{{listing.owner.profile.phone}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>


          {% else %}

          <div class="result-container">
            <div class="image-container">
              <img src="{{ listing.textbook.photo }}">
            </div>
            <div class="book-info-container">
              <h5 class="book-title">{{ listing.textbook.name }}</h5>
              <span class="book-authors">By {{ listing.textbook.authors }}</span>
              <span class="book-courses">Courses: {{ listing.textbook.courses}}</span>
              <span class="book-condition">Condition: {{ listing.textbook.condition }}</span>
              <div class="book-description-container">
                <span class="book-description">
                    {{ listing.textbook.description }}
                </span>
              </div>
            </div>
            <div class="book-info-right-container">
              <span class="book-price">${{ listing.price|floatformat:2 }}</span>
              <form action="/inactive_listings/" method="POST">
                 {% csrf_token %}
                 <input type="hidden" value="{{ listing }}" name="listing_to_reactivate">
                 <button class="reactivate-listing button" type="submit" name="reactivate" value="reactivate"> Reactivate </button>
               </form>

              <form action="/inactive_listings/" method="POST">
                 {% csrf_token %}
                 <input type="hidden" value="{{ listing }}" name="listing_to_remove">
                 <button class="remove-listing button" type="submit" name="remove" value="remove"> Remove </button>
               </form>
            </div>
          </div>

          {% endif %}
          {% endfor %}
      </div>
    </div>

    <!-- bundle info pop-up modal -->
    <div id="bundle-backdrop" class="modal-backdrop">
      <div id="bundle-info" class="modal-content">
        <!-- header, containing title, price, and close button -->
        <div class="modal-top-container">
          <span id="bundle-title" class="bold">HIS109 Bundle</span>
          <span id="bundle-price">$160</span>
          <span id="bundle-close" class="close">&times;</span>
        </div>
        <!-- list of all textbooks within the bundle, in the same format
             as textbooks in search results, except with no price -->
        <div id="bundle-results">
          <div class="result-container">
            <div class="image-container">
              <img src="/static/resources/textbook-example1.jpg">
            </div>
            <div class="book-info-container">
              <h5 class="book-title"> Perspectives From The Past </h5>
              <span class="book-authors"> By James Brophy, Joshua Cole</span>
              <span class="book-courses"> Courses: HIS109 </span>
              <span class="book-condition"> Condition: 6.5 </span>
              <div class="book-description-container">
                <span class="book-description">
                    Some minor water damage on top and highlighter marks throughout.
                </span>
              </div>
            </div>
          </div>
          <div class="result-container">
            <div class="image-container">
              <img src="/static/resources/textbook-example1.jpg">
            </div>
            <div class="book-info-container">
              <h5 class="book-title"> Western Civilizations: Their History and Their Culture </h5>
              <span class="book-authors"> By Joshua Cole, Carol Symes</span>
              <span class="book-courses"> Courses: HIS109 </span>
              <span class="book-condition"> Condition: 9.2 </span>
              <div class="book-description-container">
                <span class="book-description">
                    A couple of tiny rips on a few pages.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="/static/js/listings.js"></script>
  </body>
</html>
