<!DOCTYPE html>
<html lang="en">
 <head>
 	<meta charset="utf-8">
    <title>UBook</title>
    {%load static%}

    <link rel="icon" href="/static/resources/uoft_crest.png">
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/index.css' %}">
    <style>
        body {
            background-image: url({% static '/resources/login_background.png' %});
        }
    </style>
 </head>


  <div id="image-container">
    <img id="crest" src="/static/resources/uoft_crest.png">
  </div>

  <div id="title-container-left" class="title-container">
    <span class="grey title-text">U</span>
  </div>

  <div id="title-container-right" class="title-container">
    <span class="blue title-text">Book</span>
  </div>

  <div id="subtitle-container-left">
    <span class="grey subtitle-text subtitle-text-left">buy & sell</span>
  </div>

  <div id="subtitle-container-right">
   <span class="blue subtitle-text subtitle-text-right">used textbooks</span>
  </div>

  <div id="button-container-left">
    <a href="/login/">
        <button id="login" class="button button-left grey">log in</button>
    </a>
  </div>

  <div id="button-container-right">
    <a href="/register/">
        <button id="signup" class="button button-right blue">sign up</button>
    </a>
  </div>

</body>



</html>
