<!DOCTYPE html>
<html lang="en">
  <head>
 	  <meta charset="utf-8">
    <title>UBook</title>
    <link rel="icon" href="/static/resources/uoft_crest.png">
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
    {%load static%}

    <link rel="stylesheet" type="text/css" href="/static/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/listings.css">
    <script src="/static/js/nav.js"></script>
  </head>
  <body>

    <!-- navbar-->
    <nav id="navbar">
      <a href="/listings/"> <div id="logo">UBook</div> </a>
      <div id="navbar-button-container">
        <div>
          <a class="navbar-button" href="/listings/">find textbooks</a>
        </div>
        <div>
          <a class="navbar-button" href="/new_listing">create a listing</a>
        </div>
        <div id="user-dropdown">
          <a id="user-dropdown-button"class="navbar-button" onclick="dropDown()">{{ user.username }} ▾</a>
          <div id="dropdown-content">
            <a href="/active_listings">my active listings</a>
            <a href="/inactive_listings">my inactive listings</a>
            <a href="/profile">edit profile</a>
            <a href="/logout/">log out</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- where users can add criteria to their search-->
    <div id="criteria-container" class="big-container">
      <div class="top-bar">
        <span>Advanced Search Criteria</span>
      </div>
      <!-- where users can filter based on price-->
      <div id="price-container" class="criterion-container">
        <h4> Price: </h4>
        <form id="price-form" action="/listings/" method="post">
            {% csrf_token %}
          <span>$</span>
          <input id="start-price" name="start-price" placeholder="from">
          <span>- $</span>
          <input id="end-price" name="end-price" placeholder="to">
          <button class="button" name="price_update" value="price_update" type="submit"> Update </button>
        </form>
      </div>



      <!-- where users can filter based on course -->
      <div id="course-container" class="criterion-container">
        <h4> Course: </h4>
        <form id="course-form" action="/listings/" method="post">
            {% csrf_token %}
          <input id="course-input" name="course-input" placeholder="e.g. CSC301">
          <button class="button" name="course_update" value="course_update" type="submit"> Update </button>
        </form>
      </div>

      <!-- where users can filter based on condition -->
      <div id="condition-container" class="criterion-container">
        <h4> Condition: </h4>
        <form id="condition-form" action="/listings/" method="post">
            {% csrf_token %}
          <input id="condition-slider" name="condition-slider" type="range" min="0" max="20" value="0">
          <button class="button" name="condition_update" value="condition_update" type="submit"> Update </button>
          <span> <strong><span id="slider-value" >0</span></strong> or higher </span>
        </form>
      </div>

    </div>

    <!-- where the user enters their search query-->
    <!-- filter based on general search-->
    <div id="search-container" class="big-container">
      <div id="search-bar-container">
        <div id="search-icon-container">
          <img id="search-icon" src="/static/resources/search.png">
        </div>
        <form id="general-search-form" action="/listings/" method="post">
          {% csrf_token %}
          <input id="search-bar" name="search-bar" placeholder="Search for a textbook by name, course code, etc.">
          <input name="general_search_update" type="submit" style="display:none"/>
        </form>
      </div>
    </div>


    <!-- where results from the search query are displyed -->
    <div id="results-container" class="big-container">
        <div class="top-bar">
          <div style="float:left">
          <span>Results:</span>
          </div>
          <div id="sort-container">
            <span>{{ num_listings }} results in total</span>

          </div>
        </div>
        <!-- list of postings that match search criteria; note that
             textbooks and bundles have slightly different structure -->
        <div id="results">


          {% for listing in listings %}
          {% if listing.is_bundle and not listing.is_sold%}

            <div class="result-container bundle">
              <div class="image-container">
                <img src="{{ listing.photo }}">
              </div>
              <div class="book-info-container">
                <h5 class="book-title">{{ listing.title }} </h5>
                <button class="view-bundle button"> View textbooks in bundle </button>
                <div class="book-description-container">
                  <span class="book-description">
                      {{ listing.description }}
                  </span>
                </div>
              </div>
              <div class="book-info-right-container">
                <span class="book-price">${{ listing.price|floatformat:2 }}</span>

                <span style="display:none" class="seller-email">{{ listing.owner.email }}</span>
                <span style="display:none" class="seller-phone">{{ listing.owner.profile.phone }}</span>

                <button class="contact-seller button"> Contact seller </button>
              </div>

                <div style="display:none">
                <div class="bundle-backdrop modal-backdrop">
                    <div id="bundle-info" class="modal-content">
                      <!-- header, containing title, price, and close button -->
                      <div class="modal-top-container">
                        <span id="bundle-title" class="bold">{{listing.title}}</span>
                        <span id="bundle-price">${{listing.price|floatformat:2}}</span>
                        <span class="bundle-close close">&times;</span>
                      </div>
                      <!-- list of all textbooks within the bundle, in the same format
                           as textbooks in search results, except with no price -->
                      <div id="bundle-results">
                        {% for textbook in listing.textbooks.all %}
                        <div class="result-container">
                          <div class="image-container">
                            <img src="{{textbook.photo}}">
                          </div>
                          <div class="book-info-container">
                            <h5 class="book-title"> {{textbook.name}}</h5>
                            <span class="book-authors"> By {{textbook.authors}}</span>
                            <span class="book-courses"> Courses: {{textbook.courses}} </span>
                            <span class="book-condition"> Condition: {{textbook.condition}} </span>
                            <div class="book-description-container">
                              <span class="book-description">
                                  Description: {{textbook.description}}
                              </span>
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                        <div id="bundle-seller-info-container">
                          <div id=bundle-seller-email-container>
                            <span class="bold"> Email: </span> <span id="bundle-backdrop-email" class="seller-email">{{listing.owner.email}}</span>
                          </div>
                          <div id=bundle-seller-phone-container>
                            <span class="bold"> Phone: </span> <span id="bundle-backdrop-phone" class="seller-phone">{{listing.owner.profile.phone}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>




            </div>

          {% elif not listing.is_sold%}

          <div class="result-container">
            <div class="image-container">
              <img src="{{ listing.textbook.photo }}">
            </div>
            <div class="book-info-container">
              <h5 class="book-title">{{ listing.textbook.name }}</h5>
              <span class="book-authors">By {{ listing.textbook.authors }}</span>
              <span class="book-courses">Courses: {{ listing.textbook.courses}}</span>
              <span class="book-condition">Condition: {{ listing.textbook.condition }}</span>
              <div class="book-description-container">
                <span class="book-description">
                    {{ listing.textbook.description }}
                </span>
              </div>
            </div>
            <div class="book-info-right-container">
              <span class="book-price">${{ listing.price|floatformat:2 }}</span>
              <span style="display:none" class="seller-email">{{ listing.owner.email }}</span>
              <span style="display:none" class="seller-phone">{{ listing.owner.profile.phone }}</span>
              <button class="contact-seller button"> Contact seller </button>
            </div>
          </div>

          {% endif %}
          {% endfor %}

        </div>
    </div>

    <!-- bundle info pop-up modal -->
    <div id="bundle-backdrop" class="modal-backdrop">
    </div>

    <!-- seller info pop-up modal -->
    <div id="seller-backdrop" class="modal-backdrop">
      <div id="seller-info" class="modal-content">
        <!-- header, containing title and the close button -->
        <div class="modal-top-container">
          <span id="seller-title" class="bold">Seller Information</span>
          <span id="seller-close" class="close">&times;</span>
        </div>
        <!-- seller info -->
        <div id="seller-email-container">
          <span class="bold"> Email: </span> <span id="seller-backdrop-email" class="seller-email">geezus@gmail.com</span>
        </div>
        <div id="seller-phone-container">
          <span class="bold"> Phone: </span> <span id="seller-backdrop-phone" class="seller-phone">416-614-4162</span>
        </div>
      </div>
    </div>

    <script src="/static/js/search.js"></script>

  </body>
</html>
